PORT = 3000
NODE_ENV = "development"
TOKEN_KEY = "ky42tup71mnp2tg9fbe0"
MONGODB_USER = "m001-student"
MONGODB_PASS = "Y4qdyRF0MuvAIpTE"
MONGODB_CLUSTER = "sandbox.dxsizb7"
MONGODB_DB = "transspell"
OPENAI_API_KEY = "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"